@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*
{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
}
body
{
    background: rgb(16, 16, 16);
    color: white
}
.text-header
{
    font-family: 'Aboreto', cursive;
    font-weight: 10px;
    font-size: 2.6rem;
    color: white;
    margin-left: 15%;
    margin-top: 3%;
}
.main
{
    margin: 5% auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 16vh);
    grid-auto-flow: dense;
    grid-auto-rows: 16vh;
    gap: 8px;
    justify-content: center;
}
.higher
{
    grid-row: span 2;
    grid-column: span 2;
}
.wider
{
    grid-column: span 2;
}
@media (max-width: 1200px)
{
    .main
    {
        grid-template-columns: repeat(auto-fit, 10vh);
        grid-auto-rows: 10vh;
    }
}
